# Dependencies
node_modules/

# Next.js
.next/
out/

# Environment
.env
.env*.local

# Debug
npm-debug.log*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# PWA
public/sw.js
public/workbox-*.js
public/sw.js.map
public/workbox-*.js.map

# OpenCode
.opencode/

# Misc
*.log
